@page "/notes"
@using BlazorAppWebApp.Services
@using BlazorAppWebApp.Model
@attribute [StreamRendering(true)]
@inject INote ClientNote

<h3>Notes</h3>
@if(notes == null)
{
    <span>Loading...</span>
}else if(notes.Count() == 0)
{
    <span>No notes were found</span>
}
else
{
    <ul>
        @foreach(var note in notes)
        {
            <li>@note.Title</li>
        }

    </ul>
}
<NoteButton />

@code {
    IEnumerable<NoteModel> notes = null;
   
    protected override async Task OnInitializedAsync()
    {
        notes = await ClientNote.GetAllNotes();
    }

   

}
